{%extends 'base.html'%}
{%block content%}
<br>
<br>
<br>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-9 col-xl-7">
            <div class="card">
                <div class="card-body p-4 p-md-5">
                    <a class="btn btn-primary mb-4" href="{% url 'data_event' %}"><i class="fas fa-chevron-left"></i> Back</a>
                    <h3 class="mb-4 pb-2">Tambah Event</h3>
                    <form {% block actions %} action="/add_event" {% endblock actions %} method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {%block value-id%}{%endblock value-id%}
                        <div class="mb-4">
                            <div class="form-outline">
                                <input type="text" class="form-control" name="title" maxlength="100" required {%block value-title%}{%endblock value-title%}/>
                                <label class="form-label" for="name">Judul Event</label>
                            </div>
                        </div>
                        <div class="mb-4">
                            <div class="form-outline">
                                <input type="text" class="form-control" name="description" required {%block value-description%}{%endblock value-description%}/>
                                <label class="form-label" for="address">Deskripsi</label>
                            </div>
                        </div>
                  <div class="row">
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <input type="date" class="form-control" name="date" required {%block value-date%}{%endblock value-date%}/>
                        <label class="form-label" for="email">Date</label>
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <select class="form-select" aria-label="Default select example" name="organizer" onChange="filter.submit();">
                        <option hidden>Pilih Event Organizer</option>
                        {% for eoName in eoname %}
                        <option value="{{eoName.name}}">{{ eoName.name }}</option>
                        {% endfor %}
                      </select>
                      <!-- <div class="form-outline">
                        <input type="tel" id="phoneNumber" class="form-control" name="organizer" maxlength="20" required {%block value-organizer%}{%endblock value-organizer%}/>
                        <label class="form-label" for="organizer">Organizer</label>
                      </div> -->
                    </div>
                  </div>
                    <button class="btn btn-success" type="submit">
                        {%block btn-action%} <i class="fas fa-plus"></i> Event Organizer {%endblock btn-action%}
                    </button>
                </form>
              </div>
            </div>
          </div>
        </div>
</div>
{%endblock content%}